/* general  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.box {
  width: 85%;
  margin: auto;
}

main > hr {
  width: 95%;
  margin: auto;
  background-color: #d3d3d3;
  opacity: 0.2;
}
/* /general */

header {
  position: relative;
  height: 550px;
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 1050px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

/* header-top */
.logo > img {
  height: 40px;
}

#header-top > * {
  float: left;
  padding-top: 20px;
}

#header-top > nav {
  margin-top: 7px;
}

#header-top > nav.menu-1 {
  padding-left: 30px;
}

#header-top > nav.menu-2 {
  float: right;
}

#header-top::after {
  content: "";
  display: table;
  clear: both;
}

#header-top nav ul > li {
  font-size: 12px;
  padding: 0 15px;
  display: inline-block;
  list-style: none;
}

#header-top nav ul > li > * {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
}

button.blue {
  background-color: #0c325a;
  padding: 0 30px;
}

button.green {  /* header-top & header-title */
  background-color: #7cbb02;
  padding: 0 15px;
}

button {  /* header-top & header-title */
  border-radius: 6px;
  text-transform: uppercase;
}
/* /header-top */

/* header-title */
#header-title {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40%;
  color: #fff;
}

h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

#header-title button.green {
  color: #fff;
  font-size: 16px;
  padding: 15px;
}
/* /header-title */

/* section.banner-gray */
section.banner-gray {
  background-color: lightgray;
  font-weight: 200;
  text-align: center;
  padding: 30px 0;
  line-height: 40px;
}

section.banner-gray h3 {
  color: gray;
}
/* /section.banner-gray */

/* section.skill */
section.skill {
  text-align: center;
}

section.skill::after {
  content: "";
  display: table;
  clear: both;
}

section.skill > div {
  float: left;
  padding: 50px 20px;
  width: calc(100%/3);
}

div.three-column > * {
  margin: 20px 0;
}

div.three-column > img {
  height: 150px;
}

div.three-column > h2 {
  color: #7cbb02;
  font-size: 28px;
  font-weight: 400;
}

div.three-column > hr {
  width: 20%;
  margin: auto;
  background-color: #d3d3d3;
  opacity: 0.2;
}

div.three-column > p {
  color: #808080;
  line-height: 30px;
}
/* /section.skill */

/* section.discover */
section.discover > * {
  float: left;
  width: calc(100%/2);
  padding: 50px 30px;
}

section.discover::after {
  content: "";
  display: table;
  clear: both;
}

div.two-column h2 {
  font-size: 38px;
}

div.two-column p {
  font-size: 23px;
  line-height: 30px;
  color: gray;
  padding: 20px 0;
}

section.discover img {
  width: 90%;
}
/* /section.discover */

/* footer */
footer {
  background-color: #d3d3d3;
}


/* /footer */
